# Evaluation of the neighborhoods in Oslo, Norway in order to develop a business activity.

## I. Introduction

The development of businesses brings diverse commercial activities of interest such as capital investment, job creation and increases the activity of the area, often improving the quality of life of the inhabitants in the area. However, it is necessary that the business activity to be developed is economically profitable and sometimes the best option is to choose a neighborhood that already has an activity developed at least to some extent. Therefore, it is important to evaluate the presence of commercial activity in the different neighbourhoods of Oslo.

## II. Data

In order to obtain the data we need to start aur data analysis, we need to import all  the necessaty libraries.

### Import necessary Libraries

In [2]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.4.5.1 |       hecc5488_0         146 KB  conda-forge
    certifi-2020.4.5.1         |   py36h9f0ad1d_0         151 KB  conda-forge
    geopy-1.21.0               |             py_0          58 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    openssl-1.1.1g             |       h516909a_0         2.1 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.21.0-py_0       conda-forge
    python_abi:      3.6-1_cp36m       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2020.1.1-0                    --> 2020.4.5.1-hecc5488_0     conda-forge
    certifi:         2020.4.5.1-py36_0             --> 2020.4.5.1-py36h9f0ad1d_0 conda-forge
    openssl:         1.1.1f-h7b6447c_0             --> 1.1.1g-h516909a_0         conda-forge


Downloading and Extracting Packages
ca-certificates-2020 | 146 KB    | ##################################### | 100%
certifi-2020.4.5.1   | 151 KB    | ##################################### | 100%
geopy-1.21.0         | 58 KB     | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
openssl-1.1.1g       | 2.1 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.4.0               |             py_0          26 KB  conda-forge
    altair-4.1.0               |             py_1         614 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         713 KB

The following NEW packages will be INSTALLED:

    altair:  4.1.0-py_1 conda-forge
    branca:  0.4.0-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
branca-0.4.0         | 26 KB     | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Folium installed
Libraries imported.

### Define Foursquare Credentials and Version
#### Make sure that you have created a Foursquare developer account and have your credentials handy

In [4]:
!pip install pgeocode
import pgeocode
print('library pgcode imported!')

Requirement already satisfied: pgeocode in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.2.1)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pgeocode) (1.15.4)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pgeocode) (2.21.0)
Requirement already satisfied: pandas in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pgeocode) (0.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->pgeocode) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->pgeocode) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->pgeocode) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->pgeocode) (2020.4.5.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas->pgeocode) (2.7.5)
Requirement already satisfied: pytz>=2011k in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas->pgeocode) (2018.9)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas->pgeocode) (1.12.0)
library pgcode imported!

## Obtaining boroughs latitudes

In order to obtain the boroughs latitudes we need to precisely know which are the boroughs in Oslo. For this purpose we will scrap a Wikipedia weppage containing the information we are looking for in Oslo.

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [6]:
url='https://en.wikipedia.org/wiki/List_of_boroughs_of_Oslo'

In [7]:
source = requests.get(url).text
soup = BeautifulSoup(source, 'xml')
table=soup.find('table')

In [63]:
table

<table class="wikitable sortable">
<tbody><tr>
<th>Borough</th>
<th>Residents</th>
<th>Area</th>
<th>Number
</th></tr>
<tr>
<td><a href="/wiki/Alna" title="Alna">Alna</a></td>
<td>45 114</td>
<td>13,7 km<sup>2</sup></td>
<td align="right">12
</td></tr>
<tr>
<td><a href="/wiki/Bjerke" title="Bjerke">Bjerke</a></td>
<td>26 229</td>
<td>7,7 km<sup>2</sup></td>
<td align="right">9
</td></tr>
<tr>
<td><a href="/wiki/Frogner" title="Frogner">Frogner</a></td>
<td>47 618</td>
<td>8,3 km<sup>2</sup></td>
<td align="right">5
</td></tr>
<tr>
<td><a href="/wiki/Gamle_Oslo" title="Gamle Oslo">Gamle Oslo</a></td>
<td>39 500</td>
<td>7,5 km<sup>2</sup></td>
<td align="right">1
</td></tr>
<tr>
<td><a href="/wiki/Grorud" title="Grorud">Grorud</a></td>
<td>25 461</td>
<td>8,2 km<sup>2</sup></td>
<td align="right">10
</td></tr>
<tr>
<td><a href="/wiki/Gr%C3%BCnerl%C3%B8kka" title="Grünerløkka">Grünerløkka</a></td>
<td>42 129</td>
<td>4,8 km<sup>2</sup></td>
<td align="right">2
</td></tr>
<tr>
<td><a href="/wiki/Nordre_Aker" title="Nordre Aker">Nordre Aker</a></td>
<td>43 843</td>
<td>13,6 km<sup>2</sup></td>
<td align="right">8
</td></tr>
<tr>
<td><a href="/wiki/Nordstrand,_Norway" title="Nordstrand, Norway">Nordstrand</a></td>
<td>44 802</td>
<td>16,9 km<sup>2</sup></td>
<td align="right">14
</td></tr>
<tr>
<td><a href="/wiki/Sagene" title="Sagene">Sagene</a></td>
<td>32 394</td>
<td>3,1 km<sup>2</sup></td>
<td align="right">3
</td></tr>
<tr>
<td><a href="/wiki/St._Hanshaugen" title="St. Hanshaugen">St. Hanshaugen</a></td>
<td>30 144</td>
<td>3,6 km<sup>2</sup></td>
<td align="right">4
</td></tr>
<tr>
<td><a href="/wiki/Stovner" title="Stovner">Stovner</a></td>
<td>29 351</td>
<td>8,2 km<sup>2</sup></td>
<td align="right">11
</td></tr>
<tr>
<td><a href="/wiki/S%C3%B8ndre_Nordstrand" title="Søndre Nordstrand">Søndre Nordstrand</a></td>
<td>34 980</td>
<td>18,4 km<sup>2</sup></td>
<td align="right">15
</td></tr>
<tr>
<td><a href="/wiki/Ullern" title="Ullern">Ullern</a></td>
<td>28 898</td>
<td>9,4 km<sup>2</sup></td>
<td align="right">6
</td></tr>
<tr>
<td><a href="/wiki/Vestre_Aker" title="Vestre Aker">Vestre Aker</a></td>
<td>42 042</td>
<td>16,6 km<sup>2</sup></td>
<td align="right">7
</td></tr>
<tr>
<td><a href="/wiki/%C3%98stensj%C3%B8" title="Østensjø">Østensjø</a></td>
<td>44 399</td>
<td>12,2 km<sup>2</sup></td>
<td align="right">13
</td></tr></tbody></table>

In [9]:
#dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['Borough','Residents', 'Area', 'number']
df = pd.DataFrame(columns = column_names)

In [10]:
# Search all the postcode, borough, neighborhood 
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==4:
        df.loc[len(df)] = row_data

In [11]:
df.head()

      Borough Residents      Area number
0        Alna    45 114  13,7 km2     12
1      Bjerke    26 229   7,7 km2      9
2     Frogner    47 618   8,3 km2      5
3  Gamle Oslo    39 500   7,5 km2      1
4      Grorud    25 461   8,2 km2     10

From this table we create a list of the boroughs

In [12]:
list = df['Borough']
list

0                  Alna
1                Bjerke
2               Frogner
3            Gamle Oslo
4                Grorud
5           Grünerløkka
6           Nordre Aker
7            Nordstrand
8                Sagene
9        St. Hanshaugen
10              Stovner
11    Søndre Nordstrand
12               Ullern
13          Vestre Aker
14             Østensjø
Name: Borough, dtype: object

In [13]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import os
from sklearn.cluster import KMeans
#!pip install folium
import folium
#!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim 
import matplotlib.cm as cm
import matplotlib.colors as colors

print('Libraries imported.')

Libraries imported.

## Foursquare API. Searching businesess in the vicinity

In [14]:
CLIENT_ID = '4UQCB3H1L3DLIZLOB3DFTKWR5TLCUYHVSJNN1VXOD5C50AM4' # your Foursquare ID
CLIENT_SECRET = 'CROXNP1UC1RN3RF5PT1YRH0YIKPWL03ENFUFNN2JGARHIYRL' # your Foursquare Secret
VERSION = '20200421'
LIMIT = 300
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 4UQCB3H1L3DLIZLOB3DFTKWR5TLCUYHVSJNN1VXOD5C50AM4
CLIENT_SECRET:CROXNP1UC1RN3RF5PT1YRH0YIKPWL03ENFUFNN2JGARHIYRL

The purpose of the next code it is just to make sure that this code works properly.

In [15]:
address = 'Alna'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
#latitudes.append(latitude, longitude)
print(latitude, longitude)

59.9324168 10.8352756

In [16]:
def get_location(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Oslo, Norway'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

From pgeocode, the database containing all the postal codes is downloaded.

In [17]:
import requests, zipfile, io

NO_url_zip='http://download.geonames.org/export/zip/NO.zip'
r = requests.get(NO_url_zip)
z = zipfile.ZipFile(io.BytesIO(r.content))
#z.extractall()

We loop through all the neighbourhoods in order to obtain the exact location with Geolocator

In [18]:

latitudes=[]
longitudes=[]

for i in list:
    address = i

    geolocator = Nominatim(user_agent="foursquare_agent")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    latitudes.append(latitude)
    longitudes.append(longitude)

Now we have a list with the exact location of the neighbourhood. Look below.

In [19]:
df2 = pd.DataFrame()
df2['Neighborhood']=list
df2['Latitude']=latitudes
df2['Longitude']=longitudes
df2

         Neighborhood   Latitude  Longitude
0                Alna  59.932417  10.835276
1              Bjerke  59.941395  10.829208
2             Frogner  59.922224  10.706649
3          Gamle Oslo  59.899237  10.734767
4              Grorud  59.961424  10.880549
5         Grünerløkka  59.925471  10.777421
6         Nordre Aker  59.953638  10.756412
7          Nordstrand  54.487378   8.865286
8              Sagene  59.938273  10.765849
9      St. Hanshaugen  59.927950  10.738958
10            Stovner  59.962140  10.922823
11  Søndre Nordstrand  59.835944  10.798496
12             Ullern  59.925818  10.665132
13        Vestre Aker  59.958300  10.670319
14           Østensjø  59.887563  10.832748

Now we can use Foursquare to get the business that we can find in every borough in Oslo. For this, we must create a function.

In [34]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    radius=1000
    LIMIT=100
    venues_list=[]
    
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id=4UQCB3H1L3DLIZLOB3DFTKWR5TLCUYHVSJNN1VXOD5C50AM4&client_secret=CROXNP1UC1RN3RF5PT1YRH0YIKPWL03ENFUFNN2JGARHIYRL&v=20200214&ll=40.87655077879964,-73.91065965862981&radius=1000&limit=100'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        #results = requests.get(url, "none").json()["categories"]
                
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    
    return(nearby_venues)

Now, we use the function defined above to obatin the data we are looking for.

In [58]:
LIMIT = 500

Oslo_venues = getNearbyVenues(names=df2['Neighborhood'],
                              latitudes=df2['Latitude'],
                              longitudes=df2['Longitude']
                             )

Alna
Bjerke
Frogner
Gamle Oslo
Grorud
Grünerløkka
Nordre Aker
Nordstrand
Sagene
St. Hanshaugen
Stovner
Søndre Nordstrand
Ullern
Vestre Aker
Østensjø

We have obtained the business in the vinicity of every borough and the exact location of each one of them

In [59]:
print(Oslo_venues.shape)
Oslo_venues.head()

(1245, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Alna,59.932417,10.835276,Bikram Yoga,40.876844,-73.906204,Yoga Studio
1,Alna,59.932417,10.835276,Arturo's,40.874412,-73.910271,Pizza Place
2,Alna,59.932417,10.835276,Tibbett Diner,40.880404,-73.908937,Diner
3,Alna,59.932417,10.835276,Sam's Pizza,40.879435,-73.905859,Pizza Place
4,Alna,59.932417,10.835276,Starbucks,40.877531,-73.905582,Coffee Shop

In [60]:
Oslo_venues.groupby('Neighborhood').head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Alna,59.932417,10.835276,Bikram Yoga,40.876844,-73.906204,Yoga Studio
1,Alna,59.932417,10.835276,Arturo's,40.874412,-73.910271,Pizza Place
2,Alna,59.932417,10.835276,Tibbett Diner,40.880404,-73.908937,Diner
3,Alna,59.932417,10.835276,Sam's Pizza,40.879435,-73.905859,Pizza Place
4,Alna,59.932417,10.835276,Starbucks,40.877531,-73.905582,Coffee Shop
83,Bjerke,59.941395,10.829208,Bikram Yoga,40.876844,-73.906204,Yoga Studio
84,Bjerke,59.941395,10.829208,Arturo's,40.874412,-73.910271,Pizza Place
85,Bjerke,59.941395,10.829208,Tibbett Diner,40.880404,-73.908937,Diner
86,Bjerke,59.941395,10.829208,Sam's Pizza,40.879435,-73.905859,Pizza Place
87,Bjerke,59.941395,10.829208,Starbucks,40.877531,-73.905582,Coffee Shop
166,Frogner,59.922224,10.706649,Bikram Yoga,40.876844,-73.906204,Yoga Studio
167,Frogner,59.922224,10.706649,Arturo's,40.874412,-73.910271,Pizza Place
168,Frogner,59.922224,10.706649,Tibbett Diner,40.880404,-73.908937,Diner
169,Frogner,59.922224,10.706649,Sam's Pizza,40.879435,-73.905859,Pizza Place
170,Frogner,59.922224,10.706649,Starbucks,40.877531,-73.905582,Coffee Shop
249,Gamle Oslo,59.899237,10.734767,Bikram Yoga,40.876844,-73.906204,Yoga Studio
250,Gamle Oslo,59.899237,10.734767,Arturo's,40.874412,-73.910271,Pizza Place
251,Gamle Oslo,59.899237,10.734767,Tibbett Diner,40.880404,-73.908937,Diner
252,Gamle Oslo,59.899237,10.734767,Sam's Pizza,40.879435,-73.905859,Pizza Place
253,Gamle Oslo,59.899237,10.734767,Starbucks,40.877531,-73.905582,Coffee Shop
332,Grorud,59.961424,10.880549,Bikram Yoga,40.876844,-73.906204,Yoga Studio
333,Grorud,59.961424,10.880549,Arturo's,40.874412,-73.910271,Pizza Place
334,Grorud,59.961424,10.880549,Tibbett Diner,40.880404,-73.908937,Diner
335,Grorud,59.961424,10.880549,Sam's Pizza,40.879435,-73.905859,Pizza Place
336,Grorud,59.961424,10.880549,Starbucks,40.877531,-73.905582,Coffee Shop
415,Grünerløkka,59.925471,10.777421,Bikram Yoga,40.876844,-73.906204,Yoga Studio
416,Grünerløkka,59.925471,10.777421,Arturo's,40.874412,-73.910271,Pizza Place
417,Grünerløkka,59.925471,10.777421,Tibbett Diner,40.880404,-73.908937,Diner
418,Grünerløkka,59.925471,10.777421,Sam's Pizza,40.879435,-73.905859,Pizza Place
419,Grünerløkka,59.925471,10.777421,Starbucks,40.877531,-73.905582,Coffee Shop
...,...,...,...,...,...,...,...
747,St. Hanshaugen,59.927950,10.738958,Bikram Yoga,40.876844,-73.906204,Yoga Studio
748,St. Hanshaugen,59.927950,10.738958,Arturo's,40.874412,-73.910271,Pizza Place
749,St. Hanshaugen,59.927950,10.738958,Tibbett Diner,40.880404,-73.908937,Diner
750,St. Hanshaugen,59.927950,10.738958,Sam's Pizza,40.879435,-73.905859,Pizza Place
751,St. Hanshaugen,59.927950,10.738958,Starbucks,40.877531,-73.905582,Coffee Shop
830,Stovner,59.962140,10.922823,Bikram Yoga,40.876844,-73.906204,Yoga Studio
831,Stovner,59.962140,10.922823,Arturo's,40.874412,-73.910271,Pizza Place
832,Stovner,59.962140,10.922823,Tibbett Diner,40.880404,-73.908937,Diner
833,Stovner,59.962140,10.922823,Sam's Pizza,40.879435,-73.905859,Pizza Place
834,Stovner,59.962140,10.922823,Starbucks,40.877531,-73.905582,Coffee Shop
913,Søndre Nordstrand,59.835944,10.798496,Bikram Yoga,40.876844,-73.906204,Yoga Studio
914,Søndre Nordstrand,59.835944,10.798496,Arturo's,40.874412,-73.910271,Pizza Place
915,Søndre Nordstrand,59.835944,10.798496,Tibbett Diner,40.880404,-73.908937,Diner
916,Søndre Nordstrand,59.835944,10.798496,Sam's Pizza,40.879435,-73.905859,Pizza Place
917,Søndre Nordstrand,59.835944,10.798496,Starbucks,40.877531,-73.905582,Coffee Shop
996,Ullern,59.925818,10.665132,Bikram Yoga,40.876844,-73.906204,Yoga Studio
997,Ullern,59.925818,10.665132,Arturo's,40.874412,-73.910271,Pizza Place
998,Ullern,59.925818,10.665132,Tibbett Diner,40.880404,-73.908937,Diner
999,Ullern,59.925818,10.665132,Sam's Pizza,40.879435,-73.905859,Pizza Place
1000,Ullern,59.925818,10.665132,Starbucks,40.877531,-73.905582,Coffee Shop
1079,Vestre Aker,59.958300,10.670319,Bikram Yoga,40.876844,-73.906204,Yoga Studio
1080,Vestre Aker,59.958300,10.670319,Arturo's,40.874412,-73.910271,Pizza Place
1081,Vestre Aker,59.958300,10.670319,Tibbett Diner,40.880404,-73.908937,Diner
1082,Vestre Aker,59.958300,10.670319,Sam's Pizza,40.879435,-73.905859,Pizza Place
1083,Vestre Aker,59.958300,10.670319,Starbucks,40.877531,-73.905582,Coffee Shop
1162,Østensjø,59.887563,10.832748,Bikram Yoga,40.876844,-73.906204,Yoga Studio
1163,Østensjø,59.887563,10.832748,Arturo's,40.874412,-73.910271,Pizza Place
1164,Østensjø,59.887563,10.832748,Tibbett Diner,40.880404,-73.908937,Diner
1165,Østensjø,59.887563,10.832748,Sam's Pizza,40.879435,-73.905859,Pizza Place
1166,Østensjø,59.887563,10.832748,Starbucks,40.877531,-73.905582,Coffee Shop

In [38]:
print('There are {} uniques categories.'.format(len(Oslo_venues['Venue Category'].unique())))

There are 52 uniques categories.

# Analyze each neighborhood

In [39]:
import pandas as pd

# one hot encoding
Oslo_onehot = pd.get_dummies(Oslo_venues[['Venue Category']], prefix="", prefix_sep="")
Oslo_onehot.head()

# add neighborhood column back to dataframe. Creating two dataframes and binding them together instead of using column list.

Oslo_onehot2 = pd.DataFrame(Oslo_venues['Neighborhood'])
Oslo_onehot2

df_c = pd.concat([Oslo_onehot2, Oslo_onehot], axis=1)

Oslo_onehot = df_c
Oslo_onehot.head()

#Oslo_onehot['Neighborhood'] = Oslo_venues['Neighborhood'] 

#cols = list(Oslo_onehot.columns)
#cols = [cols[-1]] + cols[:-1]
#df = Oslo_onehot[cols]


# move neighborhood column to the first column
#fixed_columns = [Oslo_onehot.columns[-1]] + list(Oslo_onehot.columns[:-1])
#Oslo_onehot = Oslo_onehot[fixed_columns]

#Oslo_onehot.head()

,Neighborhood,American Restaurant,Athletics & Sports,Bakery,Bank,Bar,Bus Line,Bus Station,Café,Candy Store,...,Supermarket,Supplement Shop,Tennis Court,Tennis Stadium,Thai Restaurant,Thrift / Vintage Store,Trail,Video Game Store,Wine Shop,Yoga Studio
0,Alna,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Alna,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Alna,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Alna,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Alna,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category**

In [40]:
Oslo_grouped = Oslo_onehot.groupby('Neighborhood').mean().reset_index()
Oslo_grouped

,Neighborhood,American Restaurant,Athletics & Sports,Bakery,Bank,Bar,Bus Line,Bus Station,Café,Candy Store,...,Supermarket,Supplement Shop,Tennis Court,Tennis Stadium,Thai Restaurant,Thrift / Vintage Store,Trail,Video Game Store,Wine Shop,Yoga Studio
0,Alna,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
1,Bjerke,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
2,Frogner,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
3,Gamle Oslo,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
4,Grorud,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
5,Grünerløkka,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
6,Nordre Aker,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
7,Nordstrand,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
8,Sagene,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
9,St. Hanshaugen,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
10,Stovner,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
11,Søndre Nordstrand,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
12,Ullern,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
13,Vestre Aker,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048
14,Østensjø,0.024096,0.024096,0.024096,0.024096,0.012048,0.012048,0.012048,0.036145,0.012048,...,0.036145,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048,0.012048

**Let's confirm the new size**

In [41]:
Oslo_grouped.shape

(15, 53)

**Let's print each neighborhood along with the top 5 most common venues**

In [45]:
num_top_venues = 5

for hood in Oslo_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = Oslo_grouped[Oslo_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Alna----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Bjerke----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Frogner----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Gamle Oslo----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Grorud----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Grünerløkka----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Nordre Aker----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Nordstrand----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Sagene----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----St. Hanshaugen----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Stovner----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Søndre Nordstrand----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Ullern----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Vestre Aker----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04


----Østensjø----
                venue  freq
0                Park  0.07
1         Pizza Place  0.06
2      Sandwich Place  0.05
3                Café  0.04
4  Mexican Restaurant  0.04

**Let's put that into a pandas dataframe**

In [46]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

Now let's create the new dataframe and display the top 10 venues for each neighborhood.

In [62]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = Oslo_grouped['Neighborhood']

for ind in np.arange(Oslo_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(Oslo_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Alna,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
1,Bjerke,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
2,Frogner,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
3,Gamle Oslo,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
4,Grorud,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
5,Grünerløkka,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
6,Nordre Aker,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
7,Nordstrand,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
8,Sagene,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
9,St. Hanshaugen,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
10,Stovner,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
11,Søndre Nordstrand,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
12,Ullern,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
13,Vestre Aker,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout
14,Østensjø,Park,Pizza Place,Sandwich Place,Mexican Restaurant,Donut Shop,Café,Supermarket,Spanish Restaurant,American Restaurant,Scenic Lookout

# Cluster Neighborhoods

In [ ]:
Run k-means to cluster the neighborhood into 5 clusters.

In [51]:
# set number of clusters
kclusters = 5

Oslo_grouped_clustering = Oslo_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(Oslo_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/cluster/k_means_.py:971: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (5). Possibly due to duplicate points in X.
  return_n_iter=True)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

# Clusters visualization of Oslo neighborhoods

In [54]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(Oslo_merged['Latitude'], Oslo_merged['Longitude'], Oslo_merged['Neighborhood'], Oslo_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

### Cluster 1

In [ ]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 0, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

### Cluster 2

In [ ]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 1, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

### Cluster 3

In [ ]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 2, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

### Cluster 4

In [ ]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 3, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

### Cluster 5

In [ ]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 4, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

# RESULTS

In this data it can be shown that the Frogner and Grunnerlorka are the areas in oslo which accumulates a higher number commercial businesess. By this reason it would be reccommended to invest there.